html {
    box-sizing: border-box;
}

.container {
    display: grid;
}

.container > * {
    border: blue dotted 1px;
}


.hero {
    display: grid;
    height: 300px;
}

nav {
    display: grid;
    height: 80px;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    align-items: center;
    gap: 10px;
    
    
}

.links li {
    width: 100%;
    
}
.links a {
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(25,97,39, 1);
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
}

.bulk-info {
    display: grid;
    height: 800px;
    gap: 20px;
    grid-template-areas:
    "calendar story story story"
    "calendar story story story"
}

.bulk-info > * {
    border: red dotted 1px;
}

.calendar {
    grid-area: calendar;
    background: rgba(42,202,119,.2)
}

.story {
    grid-area: story;
    background: rgba(248,222,144,.2)
}


.contact-info {
    display: grid;
    height: 200px;
}

@media (max-width: 768px) {
    .bulk-info {
        grid-template-areas:
        "story story"
        "story story"
        "story story"
        "calendar calendar"
    }
}