html {
    box-sizing: border-box;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "hero"
    "nav"
    "bulk-info"
    "contact-info"
}

.container > * {
    border: blue dotted 1px;
}


.hero {
    display: grid;
    height: 300px;
    background-image: url("./Assets/mountbonnell.jpg");
    background-position: center;
    background-size: cover;
    grid-area: hero;
    justify-items: start;
    align-items: end;
    padding: 30px;
    border-radius: 30px;
}

.hero h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 7em;
    color: white;
    margin: 0;
}

nav {
    display: grid;
    height: 80px;
    grid-area: nav;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    justify-items: center;
    align-items: center;
    gap: 10px;
    
    
}

.links li {
    width: 100%;
    
}
.links a {
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(25,97,39, 1);
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    font-family: 'Signika', sans-serif;
}

.bulk-info {
    display: grid;
    height: 1200px;
    gap: 20px;
    grid-area: bulk-info;
    grid-template-areas:
    "calendar story story story"
    "calendar story story story"
}


.bulk-info > * {
    /* border: red dotted 1px; */
    border-radius: 30px;
}

.calendar {
    grid-area: calendar;
    background: rgba(42,202,119,.2);
    display: grid;
    align-items: center;
    grid-template-areas:
    "mozarts-frame"
    "events"
}

#mozarts-frame {
    grid-area: mozarts-frame;
    padding: 20px;
    display: grid;
    justify-items: center;
    font-family: 'Oleo Script', cursive;
    font-size: 2.5em;
}


#mozarts {
    width: 100%;
    border-radius: 30px;
}

#events {
    display: grid;
    grid-area: events;
    padding: 20px;
    justify-items: center;
    align-items: center;

}

#dates {
    list-style: none;
    text-align: right;
    padding: 0;
    line-height: 1.9;
    font-family: 'Signika', sans-serif;
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.story {
    grid-area: story;
    background: rgba(248,222,144,.2);
    display: grid;
    grid-template-areas:
    "bridge-photo bridge-photo bridge-photo"
    /* "bridge-photo bridge-photo bridge-photo" */
    "about-bridge about-bridge about-bridge"
    "about-bridge about-bridge about-bridge"
}

#bridge-frame {
    grid-area: bridge-photo;
    padding: 20px;
    display: grid;
    align-items: top;
    justify-items: center;
    /* background: red; */
}

#bridge {
    width: 100%;
    border-radius: 30px;
}

#about-bridge {
    grid-area: about-bridge;
    padding: 20px;
    line-height: 1.6;
    font-family: 'Signika', sans-serif;
    font-size: 1.5em;

}


.contact-info {
    grid-area: contact-info;
    display: grid;
    background: rgba(25,97,39, .2);
    grid-area: contact-info;
    padding: 20px;
    gap: 20px;
    border-radius: 30px;
    grid-template-areas:
    "map reach-us"
}

#map {
    grid-area: map;
    display: grid;
    align-items: center;
    justify-items: center;
}

#reach-us {
    grid-area: reach-us;
    font-family: 'Signika', sans-serif;
    font-size: 1.5em;
}

.social-media {
    list-style: none;
    padding: 0;
}

@media (max-width: 768px) {
    .bulk-info {
        height: 2200px;
        grid-template-areas:
        "story story"
        "story story"
        "story story"
        "calendar calendar"
        "calendar calendar"
    }

    .calendar {
        grid-template-areas:
        "mozarts-frame events"
        "mozarts-frame events"
    }
}